/*General*/

html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 100%;
    background-color: lightgray;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    margin: 0 5px;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;
}

.sidebar .room-name {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .room-name:hover {
    cursor: pointer;
}

/*Messages*/

.messages-body {
    padding-right: 10px;
}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    left: 300px;
    padding-bottom: 5px;
    position: absolute;
}

.message-box {
    width: 1500px;
    height: 30px;
    bottom: 50px;
    position: fixed;
    padding: 5px;
}

.messages-text {
    display: table;
    box-sizing: content-box;
    top: 20px;
    left: 100px;
    width: 80%;
    position: relative;
    overflow: scroll;
}

.room-header {
    top: 10px;
}

.add-room {
    top: 150px;
    bottom: 150px;
    right: 350px;
    left: 350px;
    position: relative;
    padding: 5px;
}

.text-button {
    bottom: 10px;
    padding: 5px;
    position: fixed;
}

