<div class="sidebar">
    <div class="sidebar-header">
        <h1 class="sidebar-title">Bloc Chat</h1>
        <button (click)="changeState('add')" type="button" class="new-room">New Room</button>
        <br/>
    </div>
    <div class="sidebar-body">
        <p class="room-name" *ngFor="let room of rooms"><button (click)="chatRoom('chat', room.$key)" class="btn btn-link">{{room.id}}</button></p>
    </div>
</div>

<div *ngIf="appState == 'add'">
    <div class="add-room">
        <h4>New Room</h4>
        <form class="form-room" (submit)="addRoom(id.value)">
            <div class="row">
                <div class="large-6 columns">
                    <label> ROOM                       
                        <input class="input-box" type="text" placeholder="Id" #id>
                    </label>        
                </div>
            </div>
            <div class="row">
                <div class="large-12">
                    <button type="sumbit" class="btn-primary btn sumbit-button" value="Submit">Add Room</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="title-bar">
    <div *ngIf="appState == 'default'">
        <div class="col-sm-3 col-md-2 sidebar">
            <h1><strong>Bloc Chat</strong></h1>
            <button (click)="changeState('add')" class="btn btn-default">New Room</button>
            <br/>
            <ul class="nav nav-sidebar">
                <h3 class="roomTitle"><li class="active text" *ngFor="let room of rooms"><a href="#">{{room.id}}</a></li></h3>
            </ul>
        </div>
    </div>    
</div>

<div class="messages-text">
    <div class="messages-header">  
        <div *ngIf="appState === 'chat'" class="chat-room">
            <div *ngFor="let message of messages">
                <div *ngIf="room === message.room_id">
                     <h3 class="messages-text">{{message.userId}}: {{message.message}}</h3>
                </div>
            </div>    
            <div class="message-field">
                <form class="form-room" (submit)="addMessage(room, message.value)">
                    <div class="large-6 columns">
                        <label>
                            <input type="text" name="input" placeholder="Type your message here" class="message-box" #message>
                        </label>
                        <button type="sumbit" class="btn-primary btn sumbit-button text-button" value="Submit">Send message</button>
                    </div>
                </form>
            </div>
            <div class="user-name" *ngIf="room.userId === null">
                <label>
                    <input type="text" name="input" placeholder="Type your username" class="user-box" #user>
                </label>
                <button type="sumbit" class="btn-primary btn sumbit-button text-button" value="Submit" (click)="userName(room.$key)">User</button>    
            </div>
        </div>
    </div>
</div>

